---
- name: Install requirement python package.
  pip:
    name: '{{ vault_python_dependent_packages }}'
    state: 'forcereinstall'
    extra_args: '--default-timeout=120 --ignore-installed -i https://{{ vault_pypi_url }}/simple --trusted-host {{ vault_pypi_url }}'
  register: vault_python_status
  until: vault_python_status is succeeded
  retries: 5
  delay: 2

- name: Check private key exists.
  stat:
    path: '{{ vault_cert_path }}/server.key'
  register: check_cert_keys

- name: Certificate Signing operation.
  block:
    - name: Creating Certificate folder.
      file:
        dest: '{{ vault_cert_path }}'
        state: 'directory'
        owner: 'vault'
        mode: '1750'
    - name: Selfsigned CA file transfer.
      copy:
        src: 'ssl/{{ item }}'
        dest: '{{ vault_cert_path }}/{{ item }}'
        owner: 'vault'
        mode: '640'
      loop:
        - 'ca-cert.pem'
        - 'ca-key.pem'
    - name: Generate an OpenSSL private key.
      openssl_privatekey:
        path: '{{ vault_cert_path }}/server.key'
        select_crypto_backend: 'cryptography'
        size: '4096'
        type: 'RSA'
        owner: 'root'
        mode: '0644'
        state: 'present'
    - name: Generate an OpenSSL Certificate Signing Request.
      openssl_csr:
        path: '{{ vault_cert_path }}/server.csr'
        privatekey_path: '{{ vault_cert_path }}/server.key'
        select_crypto_backend: 'cryptography'
        common_name: 'Server'
        subject_alt_name:
          - 'DNS:{{ ansible_hostname }}'
          - 'DNS:{{ ansible_fqdn }}'
          - 'DNS:{{ group_names[-1] | upper | regex_replace("_", "-") }}-{{ environments | upper | regex_replace("_", "-") }}-vault.service.{{ datacenter | lower }}.{{ domain | lower }}'
          - 'DNS:{{ ansible_default_ipv4.address }}'
          - 'IP:{{ ansible_default_ipv4.address }}'
        owner: 'root'
        mode: '0644'
        state: 'present'
    - name: Generate an OpenSSL certificate signed with your own CA certificate.
      openssl_certificate:
        path: '{{ vault_cert_path }}/server.crt'
        csr_path: '{{ vault_cert_path }}/server.csr'
        ownca_path: '{{ vault_cert_path }}/ca-cert.pem'
        ownca_privatekey_path: '{{ vault_cert_path }}/ca-key.pem'
        select_crypto_backend: 'cryptography'
        ownca_not_after: '+7305d'
        provider: 'ownca'
        owner: 'root'
        mode: '0644'
        state: 'present'
    - name: Assemble the server and CA certificate.
      shell: 'cat {{ vault_cert_path }}/server.crt {{ vault_cert_path }}/ca-cert.pem >> {{ vault_cert_path }}/certificate.pem'
      become: 'yes'
      become_user: 'vault'
    - name: Generate an OpenSSL Client private key.
      openssl_privatekey:
        path: '{{ vault_cert_path }}/client.key'
        select_crypto_backend: 'cryptography'
        size: '4096'
        type: 'RSA'
        owner: 'root'
        mode: '0644'
        state: 'present'
    - name: Generate an OpenSSL Client Certificate Signing Request.
      openssl_csr:
        path: '{{ vault_cert_path }}/client.csr'
        privatekey_path: '{{ vault_cert_path }}/client.key'
        select_crypto_backend: 'cryptography'
        common_name: 'client'
        owner: 'root'
        mode: '0644'
        state: 'present'
    - name: Generate an OpenSSL Client certificate signed with your own CA certificate.
      openssl_certificate:
        path: '{{ vault_cert_path }}/client.crt'
        csr_path: '{{ vault_cert_path }}/client.csr'
        ownca_path: '{{ vault_cert_path }}/ca-cert.pem'
        ownca_privatekey_path: '{{ vault_cert_path }}/ca-key.pem'
        select_crypto_backend: 'cryptography'
        ownca_not_after: '+7305d'
        provider: 'ownca'
        owner: 'root'
        mode: '0644'
        state: 'present'
  when: not check_cert_keys.stat.exists or check_cert_keys.stat.size == 0
